# 4. Céges autók #
Egy cég 10 olyan autóval rendelkezik, amelyet a dolgozók igénybe vehetnek az üzleti ügyeik intézésére. Az autókat akár többnapos útra is elvihetik, illetve egy autót egy nap több dolgozó is elvihet. A rendszer az autók parkolóból való ki- és behajtását rögzíti. A parkoló a hónap minden napján 7-23 óra között van nyitva, csak ebben az időszakban lehet elvinni és visszahozni az autókat. Az autót mindig annak a dolgozónak kell visszahoznia, amelyik elvitte. Egyszerre csak egy autó lehet minden dolgozónál.

Az *autok.txt* fájl egy hónap (30 nap) adatait rögzíti. Egy sorban szóközökkel elválasztva 6 adat található az alábbi sorrendben.

| nap                 | egész szám (1-30)                   | a hónap adott napja                         |
|---------------------|-------------------------------------|---------------------------------------------|
| óra:perc            | szöveg (óó:pp formátumban)          | a ki- vagy a behajtás időpontja             |
| rendszám            | 6 karakteres szöveg (CEG300-CEG309) | az autó rendszáma                           |
| személy azonosítója | egész szám (500-600)                | az autót igénybe vevő dolgozó azonosítója   |
| km számláló         | egész szám                          | a km számláló állása                        |
| ki/be hajtás        | egész szám (0 vagy 1)               | a parkolóból kihajtáskor 0, a behajtáskor 1 |


A sorok száma legfeljebb 500. Az adatok a napok szerint, azon belül óra és perc szerint rendezettek. Továbbá tudjuk, hogy a hónap első napján a cég mind a tíz autója a parkolóban volt. Például:
```
…
5 07:30 CEG300 590 30580 0
5 14:16 CEG300 590 30656 1
5 17:00 CEG300 534 30656 0
5 19:03 CEG300 534 30784 1
…
15 09:53 CEG308 543 35048 0
17 11:16 CEG308 543 35746 1
```
A példában látható, hogy a CEG300 rendszámú autót az 5. napon kétszer is elvitték. Először
7:30-kor vitték el és 14:16-kor hozta vissza az 590-es dolgozó. A kivitelkor a kilométerszámláló
állása 30 580 km volt, amikor visszahozta 30 656 km volt. Másodszor 17:00-kor vitte el
az 534-es dolgozó az autót és 19:03-kor hozta vissza. A CEG308 rendszámú autót pedig
a 15. napon vitte el az 543-as dolgozó és a 17. napon hozta vissza.

Készítsen programot, amely az autok.txt állomány adatait felhasználva az alábbi
kérdésekre válaszol! A program forráskódját mentse cegesauto néven! (A program
megírásakor a felhasználó által megadott adatok helyességét, érvényességét nem kell
ellenőriznie, feltételezheti, hogy a rendelkezésre álló adatok a leírtaknak megfelelnek.)

A képernyőre írást igénylő részfeladatok eredményének megjelenítése előtt írja a képernyőre
a feladat sorszámát (például: **3. feladat**)! Ha a felhasználótól kér be adatot, jelenítse meg
a képernyőn, hogy milyen értéket vár! Az ékezetmentes kiírás is elfogadott.

Az eredmény megjelenítését és a felhasználóval való kommunikációt a feladatot követő
minta alapján valósítsa meg!

### 1. Olvassa be és tárolja el az autok.txt fájl tartalmát! ###

In [1]:
import pandas as pd
autok = pd.read_csv('autok.txt',sep=' ', names=['nap', 'ido','rsz','sofor','kmo','irany'])
autok.head(2)

   nap    ido     rsz  sofor    kmo  irany
0    1  08:45  CEG306    501  23989      0
1    1  09:04  CEG304    583   8477      0

Az olvashatóság kedvéért a 0,1 kicserélése 'ki' - 'be' szavakra.

In [2]:
def ki_be(c):
    return 'ki' if c==0 else 'be'
autok.irany = autok.irany.apply(ki_be)
autok.head(2)

   nap    ido     rsz  sofor    kmo irany
0    1  08:45  CEG306    501  23989    ki
1    1  09:04  CEG304    583   8477    ki

### 2. Adja meg, hogy melyik autót vitték el utoljára a parkolóból! Az eredményt a mintának megfelelően írja a képernyőre!  ###

In [3]:
d30 = autok[(autok.nap == 30) & (autok.irany == 'ki')].sort_values('ido', ascending=False)
print('30. nap rendszám: ', d30.iloc[-1]['rsz'])

30. nap rendszám:  CEG300

### 3. Kérjen be egy napot és írja ki a képernyőre a minta szerint, hogy mely autókat vitték ki és hozták vissza az adott napon!  ###

In [4]:
autok[autok.nap == int(input('Melyik nap: '))]

Melyik nap: 4

    nap    ido     rsz  sofor    kmo irany
44    4  12:50  CEG303    561   5065    ki
45    4  19:17  CEG308    552  27998    be

### 4. Adja meg, hogy hány autó nem volt bent a hónap végén a parkolóban!  ###

In [5]:
ki = autok[autok['irany'] == 'ki']
be = autok[autok['irany'] == 'be']
print(f'{ki.shape[0] - be.shape[0]} autót nem hoztak vissza')

4 autót nem hoztak vissza

### 5. Készítsen statisztikát! Írja ki a képernyőre mind a 10 autó esetén az ebben a hónapban megtett távolságot kilométerben! A hónap végén még kint lévő autók esetén az utolsó rögzített kilométerállással számoljon! A kiírásban az autók sorrendje tetszőleges lehet.  ###

In [6]:
c = autok.groupby(['rsz']).agg(['min', 'max']).kmo
for i, r in c.iterrows():
    print(i, r['max']-r['min'],' km')

CEG300 6751  km
CEG301 5441  km
CEG302 5101  km
CEG303 7465  km
CEG304 6564  km
CEG305 5232  km
CEG306 7165  km
CEG307 6489  km
CEG308 6745  km
CEG309 1252  km

### 6. Határozza meg, melyik személy volt az, aki az autó egy elvitele alatt a leghosszabb távolságot tette meg! A személy azonosítóját és a megtett kilométert a minta szerint írja a képernyőre! (Több legnagyobb érték esetén bármelyiket kiírhatja.) ###

In [7]:
d = {}
for i, r in autok.iterrows():
    so = r['sofor']
    if so in d:
        d[so].append([r['rsz'], r['kmo']])
    else:
        d[so] = [[r['rsz'],r['kmo']]]    
sofor = {}
for k, v in d.items():
    v = v[::-1]
    sofor[k] = 0
    for i in range(len(v) % 2, len(v), 2):
        sofor[k] = max(sofor[k], v[i][1] - v[i + 1][1])
m = sorted(sofor, key=sofor.get)[-1]
print(f'Leghosszabb út:{sofor[m]} km, személy: {m}')

Leghosszabb út:1551 km, személy: 506

### 7. Az autók esetén egy havi menetlevelet kell készíteni! ###
Kérjen be a felhasználótól egy rendszámot! Készítsen egy X_menetlevel.txt állományt, amelybe elkészíti az adott rendszámú autó menetlevelét! (Az X helyére az autó rendszáma kerüljön!) A fájlba soronként tabulátorral elválasztva a személy azonosítóját, a kivitel időpontját (nap.óra:perc), a kilométerszámláló állását, a visszahozatal időpontját (nap. óra:perc), és a kilométerszámláló állását írja a minta szerint! (A tabulátor karakter ASCII-kódja: 9.)

In [8]:
c = autok[autok.rsz == input('Rendszám:').upper()]
c.set_index(['nap','sofor','irany'], inplace=True)
for i, r in c.iterrows():
    ki = i[2] == 'ki'
    if ki:
        print('\n',i[1],'\t', end=' ')
    print(f"{i[0]:3}.\t{r['ido']}\t{r['kmo']}\t", end=' ')

Rendszám:ceg300

 513 	   2.	15:08	29309	   2.	17:29	29357
 564 	   2.	18:06	29357	   3.	22:48	30580
 590 	   5.	07:30	30580	   5.	14:16	30656
 534 	   5.	17:00	30656	   5.	19:03	30784
 590 	   7.	16:10	30784	   7.	19:30	30837
 531 	   9.	14:53	30837	  10.	17:50	31737
 506 	  11.	09:46	31737	  11.	11:25	31942
 503 	  11.	13:52	31942	  11.	15:24	31993
 561 	  13.	11:04	31993	  13.	22:01	32452
 588 	  14.	13:02	32452	  14.	22:23	33148
 544 	  15.	10:12	33148	  18.	19:34	34265
 555 	  19.	12:21	34265	  19.	22:05	34533
 522 	  20.	13:24	34533	  20.	19:32	34601
 522 	  21.	07:14	34601	  23.	09:36	35242
 557 	  23.	11:43	35242	  23.	17:37	35300
 572 	  23.	18:03	35300	  24.	20:17	35598
 564 	  25.	13:02	35598	  25.	17:43	35675
 543 	  27.	11:08	35675	  28.	18:44	35924
 588 	  30.	09:03	35924	  30.	16:37	36060

### Minta a szöveges kimenetek kialakításához:###
```
2. feladat
30. nap rendszám: CEG300
3. feladat
Nap: 4
Forgalom a(z) 4. napon:
12:50 CEG303 561 ki
19:17 CEG308 552 be
4. feladat
A hónap végén 4 autót nem hoztak vissza.
5. feladat
CEG300 6751 km
CEG301 5441 km
CEG302 5101 km
CEG303 7465 km
CEG304 6564 km
CEG305 5232 km
CEG306 7165 km
CEG307 6489 km
CEG308 6745 km
CEG309 1252 km
6. feladat
Leghosszabb út: 1551 km, személy: 506
7. feladat
Rendszám: CEG304
Menetlevél kész.
```
### A CEG304_menetlevel.txt fájl tartalma:###
```
...
588 21. 16:58 13452 km 23. 20:28 14335 km
512 24. 16:58 14335 km 26. 22:21 15041 km
504 27. 13:47 15041 km 
```